@import "active_admin/mixins";
@import "active_admin/base";

.left {
  float: left;
}

.right {
  float: right;
}

.cke_chrome {
  width: 79.5% !important;
  overflow: hidden;
}

// #cke_ckeditor {
//   margin-left: 20%;
// }

table.index_table td {
  font-size: 12px;
}

table.index_table tr {
  font-size: 12px;
}

#header ul.tabs > li {
  font-size: 12px;
}

.download_links {
  font-size: 12px;
}
