@import "bootstrap-sprockets";
@import "bootstrap";
@import "custom_variables";

section.devise-form {
  background: $color-white;
  border-radius: 0 0 3px 3px;
  box-shadow: 0px 2px 10px rgba($color-light-gray, 0.8);
  width: 100%;

  .login-header {
    align-items: center;
    background: $color-main;
    border-radius: 3px 3px 0 0;
    color: $color-white;
    display: flex;
    justify-content: space-between;
    padding: 20px;

    h1 {
      font-size: 1em;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    svg {
      fill: $color-white;
    }
  }

  .login-main {
    padding: 40px;

    form {
      fieldset {
        margin: 0 0 40px 0;

        label {
          color: $color-gray;
          display: block;
          font-size: 0.7em;
          font-weight: 600;
          letter-spacing: 2px;
          margin: 0 0 5px 0;
          text-transform: uppercase;
        }
        label.remember_me{
          display: inline !important;
        }

        input[type="email"],
        input[type="password"] {
          border: none;
          border-bottom: 2px solid $color-light-gray;
          font-size: 1em;
          padding: 5px 0;
          transition: all 0.3s ease-in-out;
          width: 100%;

          &:focus {
            border-bottom-color: $color-main;
            outline: none;
          }

          &::-webkit-input-placeholder {
            color: $color-light-gray;
          }
          &::-moz-placeholder {
            color: $color-light-gray;
          }
          &:-ms-input-placeholder {
            color: $color-light-gray;
          }
          &:-moz-placeholder {
            color: $color-light-gray;
          }
        }
      }
      input[type="submit"] {
        background: $color-main;
        border: none;
        border-radius: 3px;
        color: $color-white;
        font-size: 0.7em;
        font-weight: 600;
        letter-spacing: 2px;
        padding: 20px;
        text-transform: uppercase;
        transition: all 0.3s ease-in-out;
        -webkit-appearance: none;
        width: 100%;

        &:focus, &:hover {
          background: darken($color-main, 3%);
          box-shadow: 0px 2px 2px $color-light-gray;
          outline: none;
        }
      }
    }
  }
}

.image_popular{
  width: 30%;
  height: auto;
}

.red-title{
  color: red;
}
