@import 'bootstrap-sprockets';
@import 'bootstrap';
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300");

.first_header {
  .header_social_text {
    width: 60px !important;
    a{
      text-decoration: none !important;
      color: white !important;
    }
  }
}

.form_wrapper {
  background: #50a3a2;
  background: -webkit-linear-gradient(top left, #50a3a2 0%, #b953e3 100%);
  background: -moz-linear-gradient(top left, #50a3a2 0%, #b953e3 100%);
  background: -o-linear-gradient(top left, #50a3a2 0%, #b953e3 100%);
  background: linear-gradient(to bottom right, #50a3a2 0%, #b953e3 100%);


  top: 50%;
  left: 0;
  width: 100%;
  overflow: hidden;

  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  opacity: 1;
  font-weight: 300;

  margin-top: -300px;
  height: auto;

  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
    height: 400px;
    text-align: center;
  }

  .container h1 {
    font-size: 40px;
    transition-duration: 1s;
    transition-timing-function: ease-in-put;
    font-weight: 200;
    margin-top: 40px;
  }

  form {
    padding: 20px 0;
    position: relative;
    z-index: 2;
  }

  form input {
    appearance: none;
    outline: 0;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
    width: 250px;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: white;
    transition-duration: 0.25s;
    font-weight: 300;
  }

  form input:hover {
    background-color: rgba(255, 255, 255, 0.4);
  }

  form input:focus {
    background-color: white;
    width: 300px;
    color: #53e3a6;
  }

  form button {
    appearance: none;
    outline: 0;
    background-color: white;
    border: 0;
    padding: 10px 15px;
    color: #53e3a6;
    border-radius: 3px;
    width: 250px;
    cursor: pointer;
    font-size: 18px;
    transition-duration: 0.25s;
  }

  form button:hover {
    background-color: #f5f7f9;
  }

  .bg-bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // z-index: -1;
  }

  .bg-bubbles li {
    position: absolute;
    list-style: none;
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.15);
    bottom: -160px;
    -webkit-animation: square 25s infinite;
    animation: square 25s infinite;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
  }

  .bg-bubbles li:nth-child(1) {
    left: 10%;
  }

  .bg-bubbles li:nth-child(2) {
    left: 20%;
    width: 80px;
    height: 80px;
    animation-delay: 2s;
    animation-duration: 17s;
  }

  .bg-bubbles li:nth-child(3) {
    left: 25%;
    animation-delay: 4s;
  }

  .bg-bubbles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-duration: 22s;
    background-color: rgba(255, 255, 255, 0.25);
  }

  .bg-bubbles li:nth-child(5) {
    left: 70%;
  }

  .bg-bubbles li:nth-child(6) {
    left: 80%;
    width: 120px;
    height: 120px;
    animation-delay: 3s;
    background-color: rgba(255, 255, 255, 0.2);
  }

  .bg-bubbles li:nth-child(7) {
    left: 32%;
    width: 160px;
    height: 160px;
    animation-delay: 7s;
  }

  .bg-bubbles li:nth-child(8) {
    left: 55%;
    width: 20px;
    height: 20px;
    animation-delay: 15s;
    animation-duration: 40s;
  }

  .bg-bubbles li:nth-child(9) {
    left: 25%;
    width: 10px;
    height: 10px;
    animation-delay: 2s;
    animation-duration: 40s;
    background-color: rgba(255, 255, 255, 0.3);
  }

  .bg-bubbles li:nth-child(10) {
    left: 90%;
    width: 160px;
    height: 160px;
    animation-delay: 11s;
  }

  @-webkit-keyframes square {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-700px) rotate(600deg);
    }
  }

  @keyframes square {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-700px) rotate(600deg);
    }
  }

  form a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    float: right;
    margin-right: 15px;
  }

  ::placeholder {
    color: white;
    opacity: 1;
  }

  form input.remember_me{
    display: inline !important;
    width: auto;
    // text-align: left;
    margin-left: -10px;
  }
  label.remember_me{
    display: inline !important;
  }

  .social_link {
    padding: 20px 15px;
    a{
      text-align: left;
      padding-left: 15%;
    }
    /* style inputs and link buttons */
    input,
    .btn {
      width: 100%;
      padding: 12px;
      border: none;
      border-radius: 4px;
      margin: 5px 0;
      opacity: 0.85;
      display: inline-block;
      font-size: 17px;
      line-height: 20px;
      text-decoration: none; /* remove underline from anchors */
    }

    input:hover,
    .btn:hover {
      opacity: 1;
    }

    /* add appropriate colors to fb, twitter and google buttons */
    .google {
      background-color: #3B5998;
      color: white;
    }

    .twitter {
      background-color: #55ACEE;
      color: white;
    }

    .fb {
      background-color: #dd4b39;
      color: white;
    }
  }
}

.image_popular{
  width: 30%;
  height: auto;
}

.red-title{
  color: red;
}

.search-bar{
  display: none;
  right: 5%;
  position: absolute;
}

.text-search{
  width: 200px;
}

.event_btn{
  margin-left: 10%;
}

.easy-autocomplete{
  width: 100%;
}

.option-cart-item {
    position: absolute;
    top: 100%;
    max-height: 250px;
    overflow-y: scroll;
    right: 0;
    width: 300px;
    border: 1px solid #f7544a;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 10px;
    background: #fff;
    z-index: 10000;
    display: none;
}
.option-cart-item li {
    display: list-item;
    float: left;
    margin: 10px 0;
    width: 100%;
}
.cart-item .image {
    border: 1px solid #cfcfcf;
    float: left;
    height: 46px;
    width: 40px;
    padding: 5px;
     -webkit-border-radius: 3px;
    border-radius: 3px;
    margin: 5px 0 5px 5px;
}
.cart-item .image img {
    max-height: 100%;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.cart-item .item-description {
    float: left;
    width: 130px;
    padding-left: 15px;
}
.cart-item .item-description .name {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    color: #434343;
}
.light-red {
    color: #fe5252;
}
.cart-item .item-description p {
    font-size: 11px;
    margin-bottom: 2px;
    color: #898989;
}
.cart-item .right {
    float: right;
    text-align: center;
    width: auto;
    padding: 5px;
}
.cart-item .price {
    font-size: 15px;
}
.option-cart-item a {
    background: none;
}
.option-cart-item li {
    display: list-item;
    float: left;
    margin: 10px 0;
    width: 100%;
}
.option-cart-item .total {
    float: left;
    margin-left: 5px;
    vertical-align: middle;
    font-size: 13px;
    padding-top: 10px;
    text-transform: uppercase;
}
.option-cart-item .total strong {
    margin-left: 15px;
    font-size: 18px;
    color: #f7544a;
}
.option-cart-item .checkout {
    margin-left: 1%;
    float: right;
}
.cart_view{
  position: relative;
}
.cart_view:hover .option-cart-item{
  display: block
}

#cart-title, table, th, tr{
  font-family: "Cantata One", serif;
}

.main_menu_area .navbar.navbar-default .navbar-collapse .nav.navbar-nav li.submenu .dropdown-menu {
  width: 242px !important;
}

#itemprice, .most_popular_item_area .p_recype_item_main .media .media-body ul li a.black{
  color: black;
}

.option-signedin {
  color: white;
  font-family: "Cantata One", serif;
  font-size: 18px;
}
